
    <div class="cards animated fadeIn">
        <div id="card-header" class="cards-header">
            <div class="avatar">
                <img src="http://www.stickpng.com/assets/images/585e4beacb11b227491c3399.png" class="rounded-circle" id="profile-avatar">
            </div> 
        </div>

        <div class="profile-card cards-body">

            <div *ngIf="loggedIn">
                <div id="profile-user">
                    <p>You're logged in as:</p>
                    <h2>{{ loggedInUser }}</h2>
                    <h5 *ngIf="gameCode">Your permlink code: {{ gameCode }}</h5>
                    <br/>
                </div>
                <button class="btn-lights animated bounceIn waves-effect" id="logout-btn" (click)="logOut()">Log Out</button>
            </div>

            <div *ngIf="canUpgrade">
                <hr>
                <div id="profile-upgrade">
                    <p>{{ linkAccountMessage }}</p>
                </div>

                <form role="form" [formGroup]="guestAccountForm" novalidate>
                    <div class="form-content text-center animated zoomIn">
                        <input id="permlink" formControlName="permlink" type="text" (focusin)="viewportManager.onfocus()" (blur)="viewportManager.onblur()"
                            placeholder="Enter Permlink Code..." class="form-control" required>
                        <div *ngIf="formErrors.permlink" class="error">
                            <small>{{ formErrors.permlink }}</small>
                        </div>
                    </div>
                </form>

                <button class="btn-darks animated bounceIn waves-effect" id="link-btn" (click)="linkGuestAccountGames()">Link Games to Account</button>
            </div>
        </div>

        <div id="card-footer" class="cards-footer"></div>
    </div>




















<!--           
    

    <div class="card">
                <div class="card-header">
                    <div class="row">
                    </div>
                </div>
                <div class="card-block">
                    <div *ngIf="loggedIn" class="row card-row">
                        <div class="col text-left">
                            <span class="align-middle">Your logged in as: {{ loggedInUser }}</span>
                        </div>
                        <div class="col text-right">
                            <button class="btn btn-success " (click)="logOut()">Log Out</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div>
            <div *ngIf="loggedIn" class="card">
                <div class="card-header">
                </div>
                <div class="card-block">
                    <div class="row card-row">
                        <p>{{ linkAccountMessage }}</p>
                        <form role="form" [formGroup]="guestAccountForm" novalidate>
                            <div class="form-content text-center animated zoomIn">
                                <input id="permlink" formControlName="permlink" type="text" placeholder="Enter Permlink Code..." class="form-control" required>
                                <div *ngIf="formErrors.permlink" class="error">
                                    <small>{{ formErrors.permlink }}</small>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div ngIf="canUpgrade" class="row card-row">
                        <div class="col">
                            <button class="btn btn-success " (click)="linkGuestAccountGames()">Link Games to Account</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                </div>
            </div> -->