<div class="container-fluid">
        <div class="logo animated bounceInUp infinte">
            <img class="miab-logo animated pulse infinite" src="/img/MIAB-Logo-Landing.png">
        </div> 
        
        <div class="logo-phone animated bounceInUp infinte">
            <img class="miab-phone animated pulse infinite" src="/img/MIAB-landing-phone.png">
        </div>

        <div class="coming-soon animated fadeIn infinte">
            <img class="landing-cloud animated pulse infinite" src="/img/MIAB-landing-cloud.png">
        </div>
    
        <div class="cloud-bg animated fadeIn infinte">
            <img class="clear-cloud animated pulse infinite" src="/img/MIAB-landing-cloud-clear.png">
        </div>

        <div class="cloud-bg animated fadeIn infinte">
            <img class="clear-cloud2 animated pulse infinite" src="/img/MIAB-landing-cloud-clear.png">
        </div>
    </div>  
  
    
    
    