<div class="cards animated fadeIn"> 
    <div class="cards-header">
        <h1 class="animated zoomIn">Critical App Failure</h1>
        </div>
        
        <div class="cards-body">
            <div class="card-row">
                <p>There was a critical application error and we can no longer continue.
                <br/><br/> Please try to play the game again, otherwise please provide the error
                 from your browsers console to admin@miabgame.com.</p>
            </div>  

            <table class="table">
                <thead>
                    <tr>
                    <th>Browser</th>
                    <th>Devloper Console Reference</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                    <th scope="row">Chrome</th>
                    <td><a href="https://developer.chrome.com/devtools">Chrome Developer Tools</a></td>
                    </tr>

                    <tr>
                    <th scope="row">Firefox</th>
                    <td><a href="https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Opening_the_Web_Console">Opening the Web Console</a></td>
                    </tr>

                    <tr>
                    <th scope="row">Explorer</th>
                    <td><a href="https://msdn.microsoft.com/en-us/library/dd565628(v=vs.85).aspx#getstarted">Discovering Internet Explorer Developer Tools</a></td>
                    </tr>

                    <tr>
                    <th scope="row">Safari</th>
                    <td><a href="https://developer.apple.com/library/content/documentation/AppleApplications/Conceptual/Safari_Developer_Guide/GettingStarted/GettingStarted.html">Enabling Safari Web Inspector</a></td>
                    </tr>
                </tbody>
            </table>
        
                

        </div>

        <div class="cards-footer">

        </div>
      
        
            
            </div>
            <!--<br/>
            <h6>Browser Console Reference:</h6>
            
              
                            Browser
                            Developer Console Reference
                        
                            <td>Chrome</td>
                            <td>
                                <a href="https://developer.chrome.com/devtools">Chrome Developer Tools</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Firefox</td>
                            <td>
                                <a href="https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Opening_the_Web_Console">Opening_the_Web_Console</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Internet Explorer</td>
                            <td>
                                <a href="https://msdn.microsoft.com/en-us/library/dd565628(v=vs.85).aspx#getstarted">Discovering Internet Explorer Developer Tools</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Safari</td>
                            <td>
                                <a href="https://developer.apple.com/library/content/documentation/AppleApplications/Conceptual/Safari_Developer_Guide/GettingStarted/GettingStarted.html">Enabling Safari Web Inspector</a>
                            -->