<div class="row justify-content-center">
    <div class=" col-10 col-lg-6 ">
        <div class="card">
            <div class="card-header">
                <div class="row">
                </div>
            </div>  

            <div class="card-block">
                <div class="row">
                    <div class="col-sm-6" id="left">
                        <h1>Auth/Session Test Components</h1>
                            <a class="btn btn-primary waves-effect" id="TestAuth" routerLink="/authtest" href="">Test Auth Service Page</a>
                            <a class ="btn btn-primary waves-effect" routerLink="/simplesessiontest" href="">Simple Session Services Test Page</a>
                            <a class ="btn btn-primary waves-effect" routerLink="/permlinksessiontest" href="">Permlink Session Services Test Page</a>    
                    </div>
                    <div class="col-sm-6">
                            <h1>User Account Components</h1>
                            <a class="btn btn-primary waves-effect" routerLink="/accounts/login" href="">Actual Login Page</a>
                            <a class="btn btn-primary waves-effect" routerLink="/accounts/signup" href="">Actual Signup Page</a>
                            <a class="btn btn-primary waves-effect" routerLink="/accounts/testprofile" href="">Test User Profile Page</a>
                            <a class="btn btn-primary waves-effect" routerLink="/accounts/testverify" href="">Test Verify Email Page</a>
                            <a class="btn btn-primary waves-effect" routerLink="/accounts/verify" href="">Actual Verify Email Page</a>
                            <a class="btn btn-primary waves-effect" routerLink="/accounts/profile" href="">Actual User Profile Page</a>
                            <a class="btn btn-primary waves-effect" routerLink="/accounts/reset/request" href="">Actual Password Reset Request Page</a>
                    </div>
                </div>  
                    
                <div class="row">
                    <div class="col-sm-6">
                        <h1>General Site Components</h1>
                        <a class="btn btn-primary waves-effect" routerLink="/modaltest" href="">Modal Service Test Page</a>
                        <a class="btn btn-primary waves-effect" routerLink="/testcontact" href="">Actual Contact Page Tests</a>
                        <a class="btn btn-primary waves-effect" routerLink="/error" href="">Actual Error Page</a>    
                        <a class="btn btn-primary waves-effect" routerLink="/pagenotfound" href="">Actual Page Not Found</a>    
                    </div>  
                
                    <div class="col-sm-6" id="right">
                        <h1>Game Specific Components</h1>
                            <a class="btn btn-primary waves-effect" routerLink="/landing" href="">Actual Landing Page</a>
                            <a class="btn btn-primary waves-effect" routerLink="/game" href="">Actual Game Main Menu</a>
                            <a class="btn btn-primary waves-effect" routerLink="/testmenu" href="">Test Game Main Menu</a>
                            <a class="btn btn-primary waves-effect" routerLink="/testlobby" href="">Test Lobby</a>
                            <a class="btn btn-primary waves-effect" routerLink="/activegame/testdrawingdynamic" href="">Test DrawingBoard</a>
                            <a class="btn btn-primary waves-effect" routerLink="/activegame/testtext" href="">Test TextFrame</a>
                            <a class="btn btn-primary waves-effect" routerLink="/testcompleted" href="">Test CompletedGames</a>
                            <a class="btn btn-primary waves-effect" routerLink="/testnoview" href="">Test NoView Service - Needs Followup</a>
                    </div>
                </div>
            </div>
        
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>  

<div id="landing-bottom" class="animated bounceInUp"></div>

<div id="landing-accent" class="animated bounceInUp"></div>

    
