<div class="row justify-content-center">
    <div class=" col-10 col-lg-6 ">
        <div class="card">
            <div class="card-header">
                <div class="row">
                </div>
            </div>  

            <div class="card-block">
                <div class="row">
                    <div class="col-sm-6">
                            <h1>User Account Components</h1>
                            <a class="btn btn-primary waves-effect" routerLink="/accounts/login" href="">Login Page</a>
                            <a class="btn btn-primary waves-effect" routerLink="/accounts/signup" href="">Signup Page</a>
                            <a class="btn btn-primary waves-effect" routerLink="/accounts/profile" href="">User Profile Page</a>
                            <a class="btn btn-primary waves-effect" routerLink="/accounts/verify" href="">Verify Email Page</a>
                            <a class="btn btn-primary waves-effect" routerLink="/accounts/reset/request" href="">Password Reset Request Page</a>
                    </div>
                </div>  
                    
                <div class="row">
                    <div class="col-sm-6">
                        <h1>General Site Components</h1>
                        <a class="btn btn-primary waves-effect" routerLink="/contact" href="">Contact Page</a>
                        <a class="btn btn-primary waves-effect" routerLink="/error" href="">Error Page</a>    
                        <a class="btn btn-primary waves-effect" routerLink="/pagenotfound" href="">Page Not Found</a>    
                    </div>  
                
                    <div class="col-sm-6" id="right">
                        <h1>Game Specific Components</h1>
                            <a class="btn btn-primary waves-effect" routerLink="/landing" href="">Landing Page</a>
                            <a class="btn btn-primary waves-effect" routerLink="/game/menu" href="">Game Main Menu</a>
                            <a class="btn btn-primary waves-effect" routerLink="/game/lobby" href="">Lobby</a>
                            <a class="btn btn-primary waves-effect" routerLink="/activegame/drawing" href="">DrawingBoard</a>
                            <a class="btn btn-primary waves-effect" routerLink="/activegame/text" href="">TextFrame</a>
                            <a class="btn btn-primary waves-effect" routerLink="/completed" href="">CompletedGames</a>
                            <a class="btn btn-primary waves-effect" routerLink="/activegame/noview" href="">NoView Service</a>
                    </div>
                </div>
            </div>
        
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>  

<div id="landing-bottom" class="animated bounceInUp"></div>

<div id="landing-accent" class="animated bounceInUp"></div>

    
