<footer *ngIf="visible" class="footer animated fadeInUp">

    <a href="https://www.facebook.com/BottleMakers/"><i class="fa fa-facebook hoverable" aria-hidden="true"></i></a>
    <a href="https://twitter.com/bottlemakers"><i class="fa fa-twitter hoverable" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-instagram hoverable" aria-hidden="true"></i></a>
    
    <div id="footer-tag"> &copy; {{ year }}. <a href="http://miabgame.com"> Message in a Bottle.</a> All Rights Reserved. </div>
</footer>