<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="scroll-border text-center">
                <div class="scroll" drag-scroll="true" drag-scroll-y-disabled="true" scrollbar-hidden="true">
                    <img src="/img/imgtst/luke.png">
                    <img src="/img/imgtst/chubaka.png">
                    <img src="/img/imgtst/boba.png">
                    <img src="/img/imgtst/c3po.png">
                    <img src="/img/imgtst/leia.png">
                    <img src="/img/imgtst/obi.png">
                    <img src="/img/imgtst/r2d2.png">
                    <img src="/img/imgtst/storm.png">
                    <img src="/img/imgtst/varder.png">
                    <img src="/img/imgtst/yoda.png">
                    <img src="/img/imgtst/yolo.png">
                </div>
            </div>
            <div class="scroll-border text-center">
                <div class="scroll" drag-scroll="true" drag-scroll-y-disabled="true" scrollbar-hidden="true">
                    <img src="/img/imgtst/luke.png">
                    <img src="/img/imgtst/chubaka.png">
                    <img src="/img/imgtst/boba.png">
                    <img src="/img/imgtst/c3po.png">
                    <img src="/img/imgtst/leia.png">
                    <img src="/img/imgtst/obi.png">
                    <img src="/img/imgtst/r2d2.png">
                    <img src="/img/imgtst/storm.png">
                    <img src="/img/imgtst/varder.png">
                    <img src="/img/imgtst/yoda.png">
                    <img src="/img/imgtst/yolo.png">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="margin text-center">
            <div class="scroll-border-s vert text-center">
                <div class="scroll-s" drag-scroll="true" drag-scroll-x-disabled="true" scrollbar-hidden="true">
                    <img src="/img/imgtst/luke.png"><br/>
                    <img src="/img/imgtst/luke.png"><br/>
                    <img src="/img/imgtst/luke.png"><br/>
                    <img src="/img/imgtst/luke.png"><br/>
                    <img src="/img/imgtst/luke.png"><br/>
                    <img src="/img/imgtst/luke.png"><br/>
                    <img src="/img/imgtst/luke.png"><br/>
                    <img src="/img/imgtst/luke.png"><br/>
                </div>
            </div>
        </div>
    </div>
</div>