@media screen and (max-width: 960px) {
    /*.container-fluid {
        background: url(/img/MIAB-BG-White-sm.png) no-repeat  fixed;
        background-size: auto 100%;

    }*/

    .cards {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 20%;
          transform: translateY(-20%);
        -webkit-transform: translateY(-20%);
        height: 80%;
        width: 95%;
    }

    .cards-header {
        background: rgba(255,255,255, .5);
        margin: 0;
        padding: 1%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    .cards-body {
        background: rgba(255,255,255,.1);
        margin: 0;
        padding:2%;
        width: 100%;
        position: relative;
        height: 100%;
    }

    .cards-footer {
        background: rgba(255,255,255, .5);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }

    h1 {
        font-family: Kalam;
        color: black;
        margin: 0;
        text-align: center;
    }

    #img-box {
        width: 100%;
        height: 60%;
        background: rgba(255, 255, 255, 0.5);
        position: relative;
    }

    #img-frame {
        max-width: 95%;
        max-height: 95%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto; 
    }

    #guess-box {
        width: 100%;
        height: 24%;
        margin-top: 2%;
        background: rgba(255, 255, 255, 0.5);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    #guess-input {
        width: 96%;
        position: relative;
        margin: 0 auto;
    }

    #guess-btn {
        width: 96%;
        position: absolute;
        bottom: 0;
        
        margin-bottom: 2%;
    }

    .input-error {
        color: black;
    }
}