<div class="container-fluid animated pulse infinite">

    <div class="logo">
        <img class="miab-logo animated pulse infinite" src="/img/MIAB-Logo-Landing.png">
    </div>

    <div class="game-menu animated slideInRight">

        <div class="slant" (click)="startGame()" id="start-game">
            <h1> Start Game</h1>
        </div>

        <div class="slant" (click)="joinGame()" id="join-game">
            <h1> Join Game</h1>
        </div>

        <div class="slant" routerLink="/completed" id="completed-games">
            <h1>My Games</h1>
        </div>

    </div>

</div>