<!--<div class="modal-header">
    <h4 class="modal-title"> {{ modalTitle }}</h4>
    <div *ngIf="allowDismissal">
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
                    <span aria-hidden="true">&times;</span>
                </button>
    </div>
</div>-->
<div class="modal-wrapper">
    <div *ngIf="allowDismissal" class="dismiss-btn">
        <a (click)="dismiss($event)"><i class="fa fa-close" aria-hidden="true"></i></a>
    </div>
    <div class="modal-body">
        <div *ngIf="isTextBody">
            <p>{{ modalOptions.message }}</p>
        </div>
        <div *ngIf="isImageBody">
            <img id="modalImage" class="img-rounded img-responsive" [src]="modalOptions.imgSrcUrl">
        </div>
        <div *ngIf="customHtml">
            <div [innerHTML]="modalOptions.innerHtml"></div>
        </div>
        <div *ngIf="cancelOkFooter">
            <button type="button" class="btn-lights" (click)="activeModal.close(false)">Cancel</button>
            <button type="button" class="btn-darks" (click)="activeModal.close(true)">Ok</button>
        </div>
        <div *ngIf="submitFooter">
            <button type="button" class="btlights" (click)="activeModal.close(true)">Submit</button>
        </div>
    </div>
</div>